name: Update Overview Deck
on:
  schedule:
    - cron: '0 0 5 * *'
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Get current date
      id: date
      run: |
          echo "CURRENT_DATE=$(date +'%B %Y')" >> "$GITHUB_OUTPUT"
    - name: Check out repo
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up Python 3.x
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r overview_deck/requirements.txt
    - name: Run build
      run: |
        cd overview_deck
        python build.py
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
         token: ${{ secrets.PAT }}
         branch-suffix: timestamp
         path: .
         title: Update Overview Decks for ${{ steps.date.outputs.CURRENT_DATE }}
         labels: automerge
         commit-message: Update Data Sources
         signoff: true
