name: Update Overview Deck
on:
  schedule:
    - cron: '0 0 5 * *'
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Get current date
      id: date
      run: |
          echo "CURRENT_DATE=$(date +'%B %Y')" >> "$GITHUB_OUTPUT"
    - name: Check out repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Python 3.x
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r overview_deck/requirements.txt
    - name: Run build
      run: |
        cd overview_deck
        python build.py
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
         token: ${{ secrets.PAT }}
         branch-suffix: timestamp
         path: .
         title: Update Overview Decks for ${{ steps.date.outputs.CURRENT_DATE }}
         labels: automerge
         commit-message: Update Data Sources
         signoff: true
